.bg-image{
    /* background-color: red; */
    background-image: url(../../../images/bg-top.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.container-custom{
    
    background-color: rgba(0, 0, 0, 0.363);
    
}
.font-ubuntu{
    font-family: 'Roboto', sans-serif;
  }
  .font-nunito{
    font-family: 'Nunito', sans-serif;
/* font-family: 'Yanone Kaffeesatz', sans-serif; */
    font-weight: 300;
  }
.box{
    /* border: 2px solid red; */
    min-height: 100vh;
}
